<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h1> Welcome to SimpleBoun</h1>
        </div>
		<div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <a href="{%url 'studentLogin' %}" class="btn btn-info" role="button">Login as Student</a>
        </div>
		<div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <a href="{%url 'instructorLogin' %}" class="btn btn-info" role="button">Login as Instructor</a>
        </div>
		<div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
			<a href="{%url 'managerLogin' %}" class="btn btn-info" role="button">Login as Manager</a>
        </div>
	</div>
</body>
</html>