<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
        <h2>Courses</h2>
    </div>
	<div class="text-center">
        <form id="form" class="form-group" method="GET" action="{%url 'managerHome/viewCoursesInsPage' %}">
                {%csrf_token%}
                <label>Select an Instructor</label>
				<br>
                <input type="text" name="username" placeholder="Username" required>
                <br>
				<br>
                <input class="btn btn-success" type="submit" value="View Courses">
                <br>
				<br>
        </form>
    </div>
	{% if username != 0 %}
	<div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
        <h2>Instructor {{username}}</h2>
    </div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col">Course ID</th>
				<th scope="col">Course Name</th>
				<th scope="col">Classroom ID</th>
				<th scope="col">Campus</th>
				<th scope="col">Time Slot</th>
			</tr>
		</thead>
		<tbody>
			{% for row in results %}
			<tr>
				{% for value in row %}
				<td>
					{{value}}
				</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	<div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
		<a href="{%url 'managerHome' %}" class="btn btn-primary" role="button">Back</a>
    </div>
</body>
</html>