<!DOCTYPE html>

<html lang="en">
<head>
  	<title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2>My Courses</h2>
    </div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col">Course ID</th>
				<th scope="col">Course Name</th>
				<th scope="col">Grade</th>
			</tr>
		</thead>
		<tbody>
			{% for row in results %}
			<tr>
				{% for value in row %}
				<td>
					{{value}}
				</td>
			{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
		<a href="{%url 'studentHome' %}" class="btn btn-primary" role="button">Back</a>
    </div>
</body>
</html>